.films {
    max-width: 1280px;
    margin: 0 auto 68px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 38px;

    font-family: 'Inter';
    font-style: normal;
}

@media screen and (max-width: 1140px) {
    .films {
        max-width: 850px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 875px) {
    .films {
        max-width: 708px;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 30px;
    }
}

@media screen and (max-width: 767px) {
    .films {
        max-width: 720;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 30px;
    }
}

@media screen and (max-width: 680px) {
    .films {
        max-width: 339px;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
    }
}

@media screen and (max-width: 320px) {
    .films {
        max-width: 320px;
        row-gap: 34px;
    }
}