.portfolio__container {
    display: flex;
    flex-direction: column;

    max-width: 1140px;
    width: calc(100% - 140px);

    margin: 0 auto;

    font-family: 'Inter';
    font-style: normal;
}

@media screen and (max-width: 640px) {
    .portfolio__container {
        width: calc(100% - 80px);
    }
}

@media screen and (max-width: 400px) {
    .portfolio__container {
        width: calc(100% - 36px);
    }
}

.portfolio__caption {
    margin: 0 0 30px 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
}

.portfolio__wrapper {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    margin: 20px 0 0 0;
    padding-bottom: 19px;

    border-bottom: 1px solid #E8E8E8;
}

.portfolio__wrapper:last-child {
    margin: 20px 0 90px 0;
}

.portfolio__link-arrow {}

.portfolio__static-site {
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
}

.portfolio__adaptive-site {
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
}

.portfolio__app {
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
}

@media screen and (max-width: 768px) {
    .portfolio__static-site,
    .portfolio__adaptive-site,
    .portfolio__app {
        font-size: 28px;
    }
}

@media screen and (max-width: 640px) {
    .portfolio__static-site,
    .portfolio__adaptive-site,
    .portfolio__app {
        font-size: 24px;
    }
}

@media screen and (max-width: 520px) {
    .portfolio__static-site,
    .portfolio__adaptive-site,
    .portfolio__app {
        font-size: 18px;
    }
}
