.promo__page {
    width: 100%;
    
    margin: 0 auto;
    padding: 0;

    background: #DDDEE3;

    font-family: 'Inter';
    font-style: normal;
}

.promo__container {
    display: flex;
    flex-direction: column;

    max-width: 1280px;
    width: calc(100% - 140px);

    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 1000px) {
    .promo__container {
        width: calc(100% - 60px);
    }
}

@media screen and (max-width: 390px) {
    .promo__container {
        width: calc(100% - 28px);
    }
}

.promo__main {
    max-width: 1140px;
    width: 100%;

    display: flex;
    flex-direction: row;

    margin: 75px auto 0 auto;
    padding: 0;
}

@media screen and (max-width: 1000px) {
    .promo__main {
        flex-direction: column-reverse;

        margin: 90px auto 0 auto;

        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 380px) {
    .promo__main {
        margin: 20px auto 0 auto;
    }
}

.promo__title {
    display: flex;
    flex-direction: column;

    max-width: 640px;

    margin: 0 auto 0 0;
    padding: 0;

    align-items: flex-start;
}

@media screen and (max-width: 1000px) {
    .promo__title {
        margin: 0 auto 0px auto;
    }
}

.promo__main-caption {
    max-width: 640px;
    width: 100%;

    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
}

@media screen and (max-width: 1000px) {
    .promo__main-caption {
        max-width: 680px;
        width: 100%;

        margin: 0 auto 22px auto;

        text-align: center;
        font-size: 40px;
        line-height: 50px;
    }
}

@media screen and (max-width: 600px) {
    .promo__main-caption {
        font-size: 30px;
        line-height: 40px;
    }
}

@media screen and (max-width: 380px) {
    .promo__main-caption {
        font-weight: 400;
        font-size: 30px;
        line-height: 38px;
        text-align: center;
        letter-spacing: -0.04em;
    }
}

.promo__caption {
    max-width: 310px;
    width: 100%;

    margin: 36px auto 146px 0;
    padding: 0;

    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.5;
}

@media screen and (max-width: 1000px) {
    .promo__caption {
        margin: 0 auto 92px auto;
        text-align: center;
    }
}

@media screen and (max-width: 380px) {
    .promo__caption {
        margin: 0 auto 80px auto;
    }
}

.promo__landing-logo {
    display: inline-block;

    max-width: 310px;
    width: 100%;
    height: 304px;
}

@media screen and (max-width: 1000px) {
    .promo__landing-logo {
        margin: 0 auto 48px auto;
    }
}

@media screen and (max-width: 390px) {
    .promo__landing-logo {
        max-width: 210px;
        height: 206px;
    }
}

.promo__footer {
    max-width: 1140px;
    width: 100%;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;

    margin: 0 auto 75px auto;
}

@media screen and (max-width: 1000px) {
    .promo__footer {
        margin: 0 auto 76px auto;
        justify-content: center;
    }
}

@media screen and (max-width: 380px) {
    .promo__footer {
        margin: 0 auto 30px auto;
    }
}

.promo__footer-caption {
    max-width: 129px;
    width: 100%;
    height: 36px;

    margin: 0;
    padding: 0;

    background-color: transparent;
    opacity: 0.6;
    border: 1px solid #000000;
    border-radius: 3px;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}